@import 'root';

%flexbox {
  display: flex;
  align-items: center;
  align-self: center;
}

// Стилизация скролбра
%scrollbar::-webkit-scrollbar {
  width: 0.5%;
  min-width: 8px;
}

%scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

%scrollbar::-webkit-scrollbar-thumb {
  border-left: 1px solid #f2f2f2;
}

// Крестик для кнопки закрытия
%close-btn {
  position: absolute;
  right: 5%;
  top: 3%;
  height: 20px;
  width: 20px;

  &::after,
  &::before {
    transition: background-color 0.3s;
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    right: calc(50% - 10px);
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(135deg);
  }
}

/*Кнопка меню*/
/*В разметке обязательно должна иметь внутренний span */
/*<button class="burger"><span></span></button>*/
%burger {
  overflow: visible;

  & > span {
    position: relative;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
    width: 22px;

    &,
    &::after,
    &::before {
      height: 1px;
      transition: background-color 0.3s, transform 0.3s;
    }

    &::after,
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 5px;
      width: 100%;
    }

    &::before {
      top: -5px;
    }
  }

  &:hover span {
    &,
    &::after,
    &::before {
      background-color: $text;
    }
  }

  &.active {
    & > span {
      background-color: transparent;
      transition: none;

      &::after {
        top: 0;
        transform: rotate(-135deg);
      }

      &::before {
        top: 0;
        transform: rotate(135deg);
      }
    }
  }
}
%button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  background-color: $button;
  transition: $quad;
  color: #fff;

  &:hover {
    color: $button;
    background-color: $bgc-light;
  }

  @media (max-width: 1300px) {
  }
}

%link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 30px;
  color: $button;
  background-color: $bgc-light;
  transition: $quad;
  &:hover {
    color: $bgc-light;
    background-color: $button;
  }
}
