$button: rgba(20, 111, 104, 1);
$button-hover: #1759b2;
$bgc-light: rgba(240, 255, 250, 1);
$bgc: rgba(211, 251, 238, 1);
$text: #000;
$font: 'Nunito Sans', sans-serif;
$text: rgba(36, 36, 36, 1);
$darkest-blue: #050039;
$quad: 0.3s cubic-bezier(0.34, 0.73, 0.47, 0.97);
$grey: #d9d9d9;
